*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml
*.ipr
*.iws
.idea/
/build/
/dist/
/out/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# env file
.env

